Source: dummypackage
Maintainer: Iñaki Malerba <inaki@malerba.space>
Section: python
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 9),
 dh-python,
 python3-setuptools,
 python3-all,
Vcs-Git: https://salsa.debian.org/salsa-ci-team/pipeline.git
Vcs-Browser: https://salsa.debian.org/salsa-ci-team/pipeline

Package: dummypackage
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Package for testing salsa-ci-team pipeline
 do not install
